body {
  background-image: url("background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.btn-sort {
  background-color: white;
  color: blue;
  border-radius: 10px
}
